.main {
  display: grid;
  margin: 0 auto;
  overflow: auto;
  width: 100%;
  max-width: 1200px;
  z-index: 0;
  grid-template-columns: 25% 75%;
  background-color: var(--dark-gray);
  min-height: calc(100vh - 104px);
  margin-bottom: -50px;
  border-radius: 5px;
  padding-bottom: 50px;
}
.sidebar {
  display: flex;
  align-items: center;
  border: 2px solid var(--dark-gray);
  background-color: var(--dark-gray);
  color: rgba(216, 203, 199, 1);
}
.icon {
  margin: 0 10px;
  font-size: 2em;
  color: var(--icon-purple);
}
.sidebar:hover,
.selected {
  border-radius: 2%;
  background-color: var(--gray);
  cursor: pointer;
}
.selected {
  border: 2px solid #445aee; /*lighter shade than icon-purple */
}
.right {
  border-left: solid 1px var(--light-border);
}
.left {
  height: 100%;
}
@media screen and (max-width: 585px) {
  .sidebar > p {
    font-size: 0px;
  }
  .icon {
    margin: 10px auto;
  }
}
